body {
    background: #b4b3b3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #434343;
}
.App {
    background: white;
    width: 860px;
    /* height: 560px; */
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}
.container {
    display: flex;
    justify-content: center;
}
.company-name {
    color: #72d1d4;
}
#totals-div {
    border: 2px solid #434343;
    margin: 20px;
    padding: 10px;
}
#totals-div div {
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

/* FORM STYLES */
form {
    margin: 10px;
    padding: 10px;
    display: block;
    text-align: right;
}
label {
    display: inline-block;
}
input {
    display: inline-block;
    width: 140px;
    margin: 10px;
    padding: 10px;
    color: #434343;
}
select {
    display: inline-block;
    width: 164px;
    margin: 10px;
    padding: 10px;
    color: #434343;
}
