body {
    background: #b4b3b3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #434343;
}
.App {
    background: white;
    width: 1100px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.company-name {
    color: #72d1d4;
}
#totals-div {
    border: 1px solid #434343;
    border-radius: 3px;
    margin: 20px;
    padding: 10px;
}
#totals-div div {
    text-align: left;
    margin: 6px;
    padding: 10px;
}

button {
    width: 180px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
}
button.active {
    background-color: #b8f1f3;
    cursor: pointer;
}

/* FORM STYLES */
.project-form {
    margin: 10px;
    padding: 10px;
    display: block;
    text-align: right;
}
label {
    display: inline-block;
}
input {
    display: inline-block;
    width: 140px;
    margin: 10px;
    padding: 10px;
    color: #434343;
    font-size: 16px;
}
select {
    display: inline-block;
    width: 164px;
    margin: 10px;
    padding: 10px;
    color: #434343;
    font-size: 16px;
}
.info-box {
    margin: 10px;
    padding: 10px;
    background-color: #e7e6e6;
    border-radius: 3px;
}
.info-col {
    text-align: left;
    min-width: 240px;
}
.info-row {
    display: flex;
    margin: 8px;
}
.info-label {
    min-width: 100px;
}
.info-content {
    font-weight: bold;
    margin-left: 6px;
}
.bom-div {
    display: inline-block;
}
.bom-row {
    text-align: left;
}
.bom-row div {
    width: 1000px;
}
.bom-row-header {
    display: flex;
    width: 600px;
    padding: 10px;
    margin-top: 24px;
    border-bottom: 1px solid #d3d2d2;
    font-weight: bold;
}
.kit-bom-row {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
.kit-bom-row div {
    width: 100px;
    text-align: left;
}
.parts-bom-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #d3d2d2;
}
.parts-bom-row div {
    width: 80px;
}
div.wide-col {
    width: 300px;
}
.component-row {
    display: flex;
    text-align: left;
    border-bottom: 1px solid #d3d2d2;
    align-items: center;
}
.component-row input {
    width: 40px;
}
.component-row .option-col {
    display: inline-block;
    width: 360px;
}
.component-row .col {
    display: inline-block;
    width: 80px;
    text-align: center;
    font-size: 16px;
}
.component-row .header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.letterhead {
    width: 300px;
    margin: 10px 10px 10px 60px;
    padding: 10px;
    font-size: 12px;
    align-items: center;
}
.letterhead img {
    width: 300px;
    align-items: center;
}
.address {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-align: center;
}
.address div {
    padding: 4px;
}
.pdf-row {
    display: flex;
    text-align: left;
    margin: 8px 0;
}
.pdf-label {
    width: 160px;
}
.pdf-col {
    width: 400px;
    margin: 10px;
    padding: 10px;
}
select#customer {
    margin: 0px;
    padding: 0px;
    width: 180px;
}
.shipping-form {
    display: flex;
}
.shipping-col {
    width: 200px;
    text-align: center;
}
.itemization-row {
    display: flex;
    justify-content: space-between;
}
.itemization-col {
    text-align: center;
    width: 200px;
}
.item-desc-col {
    width: 400px;
}
.item-desc-input {
    width: 340px;
}
.itemization-totals {
    text-align: right;
    margin: 10px 80px;
    padding: 10px;
}
.itemization-totals div {
    padding: 4px;
    margin: 10px;
}
.notes-col {
    text-align: right;
    margin: 40px;
    padding: 10px;
}
.notes-col input {
    width: 740px;
}
.thank-you {
    color: #72d1d4;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin: 10px;
    padding: 10px;
}
.pdf input {
    border: none;
}
.pdf input:hover {
    border: 1px solid #b4b3b3;
}
.pdf select {
    border: none;
}
.pdf select:hover {
    border: 1px solid #b4b3b3;
}

.line {
    border-top: 1px solid #b4b3b3;
    margin: 20px 60px;
}
